@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px solid lightgray;
    font-family: 'Lato', sans-serif;
}

li {
    list-style-type: none;
}

.row {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

.container {
    padding-top: 16px;
    padding-bottom: 16px;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #646373;
}


/* 

NAV

*/

nav {
    display: flex;
    justify-content: space-between;
}

.website-logo {
    display: flex;
    align-items: center;
}

.nav__links {
    display: flex;
}

.nav__link--list {
    display: flex;
    align-items: center;
}

.nav__link {
    margin: 0 8px;
    border-bottom: 4px solid transparent;
    padding: 2px 8px;
    transition: all 300ms ease;
    cursor: pointer;
    font-weight: 700;
}

.nav__link--primary {
    color: white;
    background-color: #00BFA6;
    border-radius: 4px;
    cursor: not-allowed;
}

.nav__link:hover {
    border-bottom-color: #00BFA6;
}

.nav__link--primary:hover {
    filter: brightness(0.8);
}

.website-logo__wrapper {
    max-width: 60px;
    padding-right: 8px;
    border-right: 1px solid lightgray;
}

.website-logo__img {
    width: 100%;
}

.website-logo__text {
    padding-left: 8px;
    transition: color 300ms ease;
}

.website-logo__text:hover {
    color: #00BFA6;
}

.website-logo__text--heading {
    font-size: 32px;
}

.hamburger-menu {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    display: none;
    cursor: pointer;
}

.fa-bars {
    font-size: 32px;
}

/* 

COMPANY PROFILE

*/

#company-profile {
    background: lightgray;
    height: calc(100vh - 86px);
}

#company-profile__row {
    display: flex;
}

.company-description {
    width: 70%;
    background-color: #f3f3f3;
    border-top-left-radius: 8px;
}

.company-quote {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #22756A;
    color: #f3f3f3;
    border-top-right-radius: 8px;
}

.company-quote__ohlc, 
.company-quote__other {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.company-description h1,
.company-description h2,
.company-description p {
    padding: 0 8px 8px 8px;
}

.company-description__heading {
    font-size: 48px;
}

.company-description h2 {
    font-size: 18px;
}

.company-description p {
    font-size: 12px;
}

.company-quote .label {
    font-size: 16px;
    display: flex;
    align-items: flex-end;
}

.company-quote h2 {
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    padding: 0 8px 8px 8px;
}

.no-information-availble{
    margin-top: 56px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.results-loading__spinner {
    font-size: 48px;
}

/* 

SPINNER

*/

.fa-spinner {
    animation: rotate 1000ms infinite linear;
}
.description__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    font-size: 60px;
    color: #00BFA6;
}

.description__loading--spinner {
    z-index: 99;
    display: none !important;
}

.description__loading .results-loading--spinner {
    display: block !important;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 758px) {
    .company-quote h2{
        flex-direction: column;
        padding-bottom: 8px;
    }

    nav {
        flex-direction: column;
    }

    .hamburger-menu {
        display: block
    }
    
    .nav__link--list {
        flex-direction: column;
        width: 100%;
        display: none;
    }
    
    .nav__link--list.active{
        display: flex;
    }
}

@media (max-width: 458px) {
    #company-profile__row {
        flex-direction: column-reverse;
    }

    .company-quote {
        flex-direction: row;
        width: 100%;
        border-top-left-radius: 8px;
        justify-content: space-between;
    }

    .company-quote h2 {
        font-size: 20px;
        flex-direction: row;
    }

    .company-quote .label {
        font-size: 12px;
    }

    .company-quote__ohlc, .company-quote__other {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .company-quote__ohlc {
        border-right-width: 1px;
    }

    .company-description {
        border-top-left-radius: 0px;
        width: 100%;
    }

    .company-description h1, 
    .company-description h2, 
    .company-description p {
        padding-bottom: 4px;
    }


    .company-description h1 {
        font-size: 32px;
    }

    .company-description h2 {
        font-size: 16px;
    }
}