@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px solid lightgray;
    font-family: 'Lato', sans-serif;
}

li {
    list-style-type: none;
}

.row {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.container {
    padding: 16px 0;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: white;
}

.green {
    color: #00BFA6;
}

/* 

HEADER

*/

/* #header {
    position: relative;
} */


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 350px;
    z-index: -1;
    overflow: hidden;
    background-image: url(./assets/search_header.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50%;
}


/* 

NAV

*/

nav {
    display: flex;
    justify-content: space-between;
}

.website-logo {
    display: flex;
    align-items: center;
}

.nav__links {
    display: flex;
}

.nav__link--list {
    display: flex;
    align-items: center;
}

.nav__link {
    margin: 0 8px;
    border-bottom: 4px solid transparent;
    padding: 2px 8px;
    transition: all 300ms ease;
    cursor: pointer;
    font-weight: 700;
}

.nav__link--primary {
    color: white;
    background-color: #00BFA6;
    border-radius: 4px;
    cursor: not-allowed;
}

.nav__link:hover {
    border-bottom-color: #00BFA6;
}

.nav__link--primary:hover {
    filter: brightness(0.8);
}

.website-logo__wrapper {
    max-width: 60px;
    padding-right: 8px;
    border-right: 1px solid lightgray;
}

.website-logo__img {
    width: 100%;
}

.website-logo__text {
    color: white;
    padding-left: 8px;
    transition: color 300ms ease;
}

.website-logo__text:hover {
    color: #00BFA6;
}

.website-logo__text--heading {
    font-size: 32px;
}

/* 

SEARCH SECTION

*/

.search__section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search__heading {
    color: white;
    font-size: 45px;
    text-align: center;
    margin-bottom: 40px;
}

.search-form {
    display: flex;
    justify-content: center;
    width: 50%;
}

.search__input {
    width: 100%;
    max-width: 800px;
    height: 60px;
    font-size: 20px;
    padding-left: 20px;
    border-radius: 8px;
}

.search__btn {
    margin-left: 8px;
    width: 20%;
    background-color: #00BFA6;
    border-radius: 8px;
    cursor: pointer;
    transition: all 300ms ease;
}

.search__btn:hover {
    filter: brightness(0.8);
}

.fa-magnifying-glass-dollar {
    font-size: 20px;
    filter: invert(1);
}

/* 

RESULTS

*/

#results {
    position: relative;
    top: 80px;
}

.results__heading {
    display: flex;
    justify-content: space-between;
}

.results__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    font-size: 60px;
    color: #00BFA6;
}

.results__loading .results__heading {
    display: none;
}

.results__loading--spinner {
    z-index: 99;
    display: none !important;
}

.results__loading .results__loading--spinner {
    display: block !important;
}

.fa-spinner {
    animation: rotate 1000ms infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.results__main {
    display: flex;
    flex-direction: column;
}

.result {
    display: flex;
    justify-content: space-around;
    border-width: 1px;
    border-bottom-width: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 4px 0;
}

.result:last-child {
    border-bottom-width: 1px;
}

.result:nth-child(even) {
    background: lightgrey;
}

.results__loading .result {
    display: none;
}

.results__header--symbol,
.results__header--name,
.results__header--price,
.results__header--change {
    text-align: center;
}

.result__symbol,
.result__name,
.result__price,
.result__change {
    display: flex;
    align-items: center;
    text-align: center;
}

.result__symbol {
    text-transform: uppercase;
}

.no-results {
    padding: 12px 0;
}